<!--fetch all the records from fridge property in the .ts file which is accessing the refrigerator.json-->
<marquee>Special offers on dress</marquee>
<div >
    <div class="row">
        <!--1st column-->
        <div class="col col-lg-3">
            <app-card></app-card>
        </div>

        <!--2nd column-->
        <div class="card col-lg-6" style="border:none;margin-top: 30px;">
            <app-dressdetails></app-dressdetails>
        </div>
        <!--3rd column-->
        <div class="col col-lg-3">
           <app-advertisement></app-advertisement>
        </div>
    </div>
</div>